/* Add CSS Styling */
.one-three-five {
    background-color: rgba(255, 163, 168);
    font-family: Verdana, "Deja vu sans", sans-serif;
}

#number2 {
    color: #002ff6;
    font-size: 32px;
}

.text-size-24px {
    font-size: 24px;
}

#number4 {
    background-color: #5fff8f;
    font-weight: bold;
}